.red {
        color:red;
    }

 .border {
    border-top: 1px solid #990000;
 }   
 #bott { border-bottom:1px solid #990000;}

 body {
    margin: 0 10%;
    font-family: serif;
}
 h1 {
   font-family: serif;
 }
 .h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #990000;
    margin-top: 30px;
    color: #ffffff;
    
 }
    
 .h2 {
    color: #ffffff;
    font-size: 1em;
    }

 .heading-link { margin-left: 10px; margin-right: 10px;}
 
 .top-nav {
   --background-color: #800;
   display: flex;
   align-items: stretch;
   border: black solid 2px;
}

.top-nav-img {
   --background-color: #080;
   padding: 10px;
}

.top-nav-links {
   --background-color: #008;
   width: 100%;
   margin-top: 100px;
   text-align: right;
}
input:hover {color: grey;}

.top-nav-link-item {
   color: black;
   padding-right: 100px;
   font-size: 2em;
}

a:link {
   color: rgb(0, 0, 0);
 }
 
 
 a:visited {
   color: rgb(0, 0, 0);
 }
 
 
 a:hover {
   color: rgb(63, 0, 180);
 }

 a:active {
  color: blue;
}  

.container {
   width: 500px;
   clear: both;
   }

   .container input {  
   width: 100%;
   clear: both;
   }               


    


   p.product a img {
      display: none;
      position: absolute;
      left: -80px;
      top: -22px;
  }
  p.product a {
      display: inline-block;
      position: relative;
  }
  p.product a img{
      display: none;
  }
  p.product a:hover img{
      display: inherit;
  }
  p.product {
      margin: 100px;
  }

   .shows-nav {
      margin-left: 50px;
      font-size: 1.2em;
   }
  .shows-entry {
   margin-bottom: 25px;
   padding: 15px;
   background: #FFFFFF88;
   border: solid 10px #FFFFFF88
  }
  .shows-inline {
   display: inline-table;
   vertical-align: top;
 }
 .shows-block {
   vertical-align: top;
 }
 .shows-left {
   border: solid 2px #FFFFFF88
 }
 .shows-right {
   margin-top: -30px;
   margin-left: 100px;
   width: 70%;
   font-size: 1.5em;
 }
 .images { border: 5px; color:red; width: 2px; width:300px;}

  .contact-form {
     margin: 0px;
     padding: 0x;
  }

  .contact-form-row {
   margin-bottom: 5px;
  }

  .contact-form-input {
     padding-top: 5px;
     margin-top: 5px;
     margin-right: 50px;
     display: inline-table;
  }

  .contact-form-field {
      display: block;
      width: 100%;
      font-weight: bold;
  }

   .contact-form-value {
      display: block;
      width: 350px;
   }
   .contact-form-value input {
      width: 100%;
      height: 40px;
      font-size: 1.5em;
   }
   .contact-form-value textarea {
      width: 150%;
      height: 200px;
      font-size: 1.5em;
   }

